.menu {
   position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    z-index: 5;
    transform: translateX(-125%);
    transition: all .2s;
}

.menu_active {
    transform: translateX(0);
}

.menu__blur {
    backdrop-filter: blur(4px);
    position: absolute;
    left: 25%;
    width: 100vw;
    height: 100vh;
}

.menu__content {
    width: 25%;
    height: 100%;
    background: rgb(16, 38, 64);
}

.menu__list {
    width: 25%;
    position: absolute;
    transform: translateX(0);
}

.menu__list__level-2,
.menu__list__level-3 {
    top: 0;
    width: 100%;
    transform: translateX(-100%);
    transition: all .2s;
}

.menu__list p {
    color: white;
    width: 100%;
    padding: .5rem 0;
    font-size: 1.5rem;
    text-align: center;
}

.menu__list p:hover {
    cursor: pointer;
    color: grey;
}

.menu__list li {
    list-style: none;
    width: 100%;
}

.menu__list li:hover {
    background: linear-gradient(to right, black, #151413)
}

.link__item {
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    width: 80%;
}

.menu__next,
.menu__prev{
    text-align: center;
    width: 12%;
}

.menu__next:hover,
.menu__prev:hover{
    color: white;
    cursor: pointer;
}

.link__item,
.menu__next,
.menu__prev {
    padding: 1.5rem 0 1.5rem 1rem;
    color: #cf6d6d;
    display: inline-block;
    font-size: 1.3rem;
}

