.delivery h1 {
    font-size: 2rem;
}

.delivery h3 {
    font-size: 1.2rem;
}

.delivery h1,
.delivery h3 {
    margin: .5rem;
}

.delivery p {
    margin: 1rem 0;
}

.delivery img {
    width: 100%;
    margin: 1rem 0;
}