.guarantee h1 {
    font-size: 2rem;
}

.guarantee h3 {
    font-size: 1.2rem;
}

.guarantee p {
    margin: 1rem 0;
}

.guarantee h1,
.guarantee h3{
    margin: .5rem;
}

.guarantee li>svg {
    font-size: 3rem !important;
    margin: 1rem auto;
    color: dodgerblue;
}

.guarantee ul {
    list-style: none;
}

.guarantee h1+ul {
    margin: 3rem auto;
}

.guarantee a {
    color: dodgerblue;
    text-decoration: none;
}

.guarantee__service {
    display: grid;
    grid-template-columns: 1fr 12fr;
}

.phone_big-number {
    font-size: 1.5rem;
}