.offer-sliders__carousel {
    margin: 2rem 0;
}

.carousel__header {
    font-size: 3rem;
}

.carousel__card-item {
    width: 95% !important;
    border: 1px solid lightgrey;
    box-shadow: 3px 3px 3px 1px grey;
    border-radius: 5px;
    margin: 2% 2%;

}

.carousel__card-wrapper {
    width: 92%;
    margin: .5rem auto;
}

.carousel__item-img {
    width: 100%;
}

.carousel__item-name {
    margin: .6rem 0;
    height: 5rem;
}

.carousel__item-name + div {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.carousel__price p:first-child {
    text-decoration: line-through;
    color: grey;
}

.carousel__price p:last-child {
    font-size: 1.3rem;
    font-weight: bold;
}

.carousel__button {
    background: #cf6d6d;
    padding: .5rem;
    border: none;
    border-radius: 5px;
    color: white;
}

.carousel__button:hover {
    background: #783c3c;
    cursor: pointer;
}