.header__search-panel {
    width: 80%;
    margin: auto;
}

.search-input {
    width: 70%;
    border-radius: 5px 0 0 5px;
}

.search-button {
    width: 28%;
    border-radius: 0 5px 5px 0;

}

.search-button:hover {
    cursor: pointer;
}

.search-input, .search-button {
    height: 2.7rem;
    display: inline-block;
    border: none;
}