header {
    background: rgb(16, 38, 64);
    background: linear-gradient(
            0deg,
            rgba(16, 38, 64, 1) 0%,
            rgba(40, 40, 40, 1) 100%
    );
    background-repeat: no-repeat;
    height: 5.5rem
}

.header__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 1fr;
    height: 100%;
}



.header__search-panel,
.header__cart {
    margin: auto;
}





