footer {
    background: rgb(16, 38, 64);
    background: linear-gradient(
            0deg,
            rgba(16, 38, 64, 1) 0%,
            rgba(40, 40, 40, 1) 100%
    );
    background-repeat: no-repeat;
    height: 5.5rem
}

.footer__navigate {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 100%;
}

.footer__useful{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
}
.footer__social-networks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
}

.footer__social-networks a img{
    display: inline-block;
    width: 34px;
}

.footer__useful a,
.footer__social-networks a {
    text-decoration: none;
    color: white;
    margin: auto;
}

.footer__copyright {
    font-weight: bold;
    text-align: center;
}


